.cent
{ 
	
	text-align: center;
}



.center{ text-align: center;
	
     border-style: solid;
	 margin-top:19px;
	 margin: auto;
	 width: 500px;
	 height: 600px;
	
       }

body {
	font-family: var(--font);
	font-weight: normal;
	font-style: normal;
	color: var(--body-color);
	overflow-x: hidden;
	border:rgb(52, 194, 76); border-width:5px; border-style:solid;
  }

button:hover { background-color: Blue; color: rgb(243, 8, 8);}

